body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
header {
 
  text-align: center;
}
hr {
  background: rgb(54, 149, 173);
  width: 95%;
  margin: auto;
  height: 50px;
}
.hobbies {
  width: 90%;
  margin: 0 auto;
}
.intro {
  margin-top: -15px;
  margin-left: -1px;
  border-left: 20px solid #8bc8d5;
  border-bottom: 1px dotted #8bc8d5;
  border-top: 20px solid rgba(211,211,211,.5);
  overflow: hidden;
  padding: 20px;
}
ol.list {
  list-style-position: inside;
  padding-left: 70px;
}
span {
  color: rgb(77, 196, 218);
}
.clowder {
  display: block;
  float: right;
  width: 50%;
}
.content {
  width: 95%;
  margin: auto;
}
.imgSon {
  float: left;
  margin-right: 25px;
}
.para {
  clear: both;
  padding-top: 20px;
}


