body {
  font-family: Arial, Helvetica, sans-serif;
}
header {
 
  text-align: center;
}
hr {
  background: rgb(54, 149, 173);
  width: 95%;
  margin: auto;
  height: 50px;
}
span {
  color: rgb(77, 196, 218);
}
.clowder {
  display: block;
  float: right;
  width: 50%;
}
.content {
  width: 90%;
  margin: auto;
}
.imgSon {
  float: left;
  margin-right: 25px;
}
.para {
  float: left;
  width: 50%;
}


